@model ButtonGridGame.Models.ButtonModel

<div>
    @if(ViewBag.AreYouWinningSon)
    {
     <h>Good Job. You did it!</h>
    }
    else
    {
        <h>Colors of buttons dont match each other.</h>
    }

</div>
