@model IEnumerable<ButtonGridGame.Models.ButtonModel>


<style>

    .game-button{
        width:74px;
        text-align:center;
    }
    .game-button-image {
        width: 70%;
    }
    .button-zone{
        display:flex;
        flex-wrap:wrap;
    }
    .line-break
    {
        flex-basis:100%;
        height:0;
    }
    .Button-label
    {
        font-size:8px;
        text-align:center;
    }

</style>

@{ 
    string[] imagenames = { "Blueb.png", "Greenb.png", "Yellowb.png", "Redb.png" };
    bool TheyAreTheSame = true;
   
}


<h> Change button colors to one and same. </h>




<form>
<div class="button-zone">
    @for (int i = 0; i < Model.Count(); i++)
    {
        //new line every 5 elements
        if(Model.ElementAt(0).ButtonState != Model.ElementAt(i).ButtonState)
        {
            TheyAreTheSame = false;
        }


        if (i % 5 == 0)
        {
            <div class="line-break"></div>
        }

        //show img according to button state
        <div class="oneButton" id=@i>
        
        <button class="game-button" name="buttonNumber" value="@Model.ElementAt(i).Id" type="submit" asp-controller="button" asp-action="HandleButtonClick">
            <img class="game-button-image" src="~/img/@imagenames[Model.ElementAt(i).ButtonState]" />

            <div class="Button-label">
                @Model.ElementAt(i).Id , @Model.ElementAt(i).ButtonState

            </div>
        </button>
        </div>
    }
</div>
</form>

<div id="AreYouWinningSon">

</div>

